{% extends  "base.html" %}
{% block content %}
  <h1 class="display-3 mt-4 mb-3">TODO list
    <a class="btn btn-primary" style="float: right" href="#">Add task</a>
  </h1>
  {% for task in task_list %}
  <h5>{{ task.content }}
    {% if not task.completed %}
      <a style="float: right" class="btn btn-success" href="#">Complete</a>
    <span style="color: red">{{ task.completed|yesno:"Done,Not done" }}</span>
  {% else %}
      <a style="float: right" class="btn btn-secondary" href="#">Undo</a>
  <span style="color: lightgreen">{{ task.completed|yesno:"Done,Not done" }}</span>
  {% endif %}
  </h5>
    <p><small>Created: {{ task.datetime }}</small></p>
  <div class="d-flex text-muted">
  <h6 class="mr-2">Tags:</h6>
    {% for tag in task.tags.all %}
      <h6>{{ tag.name }} </h6>

      <h6 class="ml-1"><a href="#">Update</a></h6>
      <h6 class="ml-1"><a href="#">Delete</a></h6>
      <hr>
    {% endfor %}
  </div>
    <hr>

  {% endfor %}
{% endblock %}